{% extends "templateEasyTutoring.html" %}

{% block principal %}
    <a class="navbar-brand" href="{% url 'professor_area:index' %}">EASYTUTORING</a>
{% endblock principal %}



{% block barraLateral %}
                <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <br>
                       <center><p><img src="{{ usuario.thumb.url}}" class= "img-circle"/> </p></center>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Disciplina<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'disciplinas:new' %}">Cadastrar Disciplina</a>
                                </li>
                                <li>
                                    <a href="{% url 'disciplinas:show' %}">Todas as Disciplinas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Turmas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'turmas:new' %}">Criar Turma</a>
                                </li>
                                <li>
                                    <a href="#">Buscar Turma</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Frequência<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Visualizar Frequência</a>
                                </li>
                                <li>
                                    <a href="#">Visualizar Dados Adicionais</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Forum<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Ver Notícias</a>
                                </li>
                                <li>
                                    <a href="#">Criar Postagem</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

{% endblock barraLateral %}
{% block form %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" style="display:none;" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock form %}

{% block title %}
        <title>Area do Professor</title>
{% endblock title %}

{% block logout %}
 <li><a href="{% url 'usuarios:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
{% endblock logout %}

{% block javascript %}
       <script>
        $(".info").each(function () {
            var message = $('.info').text();
        $.notify({
            message: message,
        },{
            type: 'pastel-success',
            delay: 3000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<span data-notify="title">{1}</span>' +
                '<span data-notify="message">{2}</span>' +
            '</div>'
        });


      });

    </script>

{% endblock javascript %}
