    	#img{
    		width: 35px;
    		height: 35px;
    	}
    	#button{
			float: right;
    	}
    	#excell{
			color: #2f9909;
    	}
    	#pdf{
			color: #a81919;
    	}
    	#power{
			color: #f58d05;
    	}
    	#zip{
			color: #7d6001;
    	}
    	#doc{
    		color: #0b5cb8;
    	}
    	#x{
			margin-left: 350px;
    	}
			.page-item:first-child .page-link {
			  margin-left: 0;
			  border-top-left-radius: 0.25rem;
			  border-bottom-left-radius: 0.25rem;
			  background-color: #997d29;
			  border-color: #94741b;

			}

			.page-item:last-child .page-link {
			  border-top-right-radius: 0.25rem;
			  border-bottom-right-radius: 0.25rem;
			}

			.page-item.active .page-link {
			  z-index: 2;
			  color: #fff;
			  background-color: #d1b875;
			  border-color: #94741b;
			}

			.page-item.disabled .page-link {
			  color: #997d29;
			  pointer-events: none;
			  background-color: #997d29;
			  border-color: #94741b;
			}

.pagination-x > li > a{
			  color: #997d29;

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  			  background-color: #997d29;
			  border-color: #94741b;

}
