{% extends "professor_area/index.html" %}

{% block pageHeader %}
    <h2 class="page-header">Cadastrar Questões</h2>
{% endblock pageHeader %}
{% block form %}
<div class="form-group col-sm-8">

   <label id="lb-shift">Assuntos</label> <br>
   <div class="form-group col-sm-8">

       <select id="selecao" class="form-control">

        {% for assunto in assuntos %}
           <option >{{ assunto.nome }}</option>
        {% endfor %}
       </select>
      </div>        <button class="btn btn-default btn-login"  id="adicionar" type="button" style="magin:10px;"><i class="fa fa-search"></i>
      </button>

</div>      
<div id="results" class="form-group col-sm-12">
      
    </div>
{% endblock form %}


{% block javascript %}
 <script>
    $("#adicionar").click(function () {
      var assunto = $("#selecao").val();
      $.ajax({
        url: 'assunto',
        data: {
          'assunto': assunto,
          'questionario': {{questionario.id}}
        },
        success : function(html) {
             $('#results').html(html);
         }

      });

    });
</script>
{% endblock javascript %}