{% extends "professor_area/index.html" %}
{% load widget_tweaks %}
{% block pageHeader %}
    <h2 class="page-header">Cadastrar Questionario
   <!--    <a data-toggle="modal" href="#cadastrarQuestao">
   <button class="btn btn-default btn-login"  id="adicionar" type="button"><i class="fa fa-plus"></i>
   </button></h2>
                         </a> -->

{% endblock pageHeader %}

{% block form %}
	<form action="{% url 'questionarios:new' %}" method="post">
		{% csrf_token %}
        <fieldset>
            <div class="form-group">
			        <label for="id_codigo">Título Do Questionário:</label>
			        {{form.codigo|add_class:"form-control"}}
            </div>
             <div class="form-group">
			        <label for="id_turma">Turma:</label>
			        {{form.turma|add_class:"form-control"}}
            </div>
<!--             <div class="form-group">
                    <label for="id_aluno">Alunos:</label>
                    {{form.alunos|add_class:"form-control"}}
</div>
 -->
            <center><input  type="submit" value="Cadastrar" class="btn btn-default btn-lg btn-login" /></center>
        </fieldset>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" style="display:none;" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock form %}


{% block javascript %}
 <script>    
    $("#id_assunto").change(function () {
      var assunto = $(this).val();
      $.ajax({
        url: 'questionarios:assunto',
        data: {
          'assunto': assunto
        },
        dataType: 'json',
        success: function (exist_user) {
          if (exist_user.users) {
            $.notify({
            message: 'O usuário já existe, por favor utilize outro username!'
        },{
            type: 'pastel-warning',
            delay: 4000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<span data-notify="title">{1}</span>' +
                '<span data-notify="message">{2}</span>' +
            '</div>'
        });
          }
        }
      });

    });
</script>
{% endblock javascript %}