    <hr>
    <center><h4><i class="fa fa-question" aria-hidden="true"></i>
Questões</h4></center>
    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Enunciado</th>
                        <th>Adicionar</th>

                    </tr>
                </thead>
                <tbody>
                	{% for questao in questoes %}
                        <tr id="{{questao.id}}">
                            <td>{{questao.enunciado}}</td>
    <td><input id="checar" type="checkbox"  value="{{questao.id}}" /></td>
                        </tr>
					{% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>

{% block javascript %}
 <script>
    $(document).ready(function() {
        $("tbody tr td #checar").click(function () {
          var question = $(this).val();
          $.ajax({
            url: 'addquestao',
            data: {
              'question': question,
              'questionario': {{questionario.id}},
              'assunto': {{assunto.id}}
            },
            success : function(exists) {
                var id = "#"+question
                 $(id).hide();
                if (exists.cadastrado) {
                  $.notify({
                  message: exists.message
                },{
                    type: 'pastel-success',
                    delay: 3000,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                        '<span data-notify="title">{1}</span>' +
                        '<span data-notify="message">{2}</span>' +
                    '</div>'
                });
              }
               }

          });

        });
        });

</script>
{% endblock javascript %}

