{% extends "templateEasyTutoring.html" %}

{% block title %}
        <title>Area do Tutor</title>
{% endblock title %}

{% block principal %}
    <a class="navbar-brand navbar-insid" id="link-color" href="{% url 'tutor_area:index' %}">EASYTUTORING</a>
{% endblock principal %}
{% block barraLateral %}
                <div class="navbar-default sidebar navbar-inside" role="navigation" >
                <div class="sidebar-nav navbar-collapse navbar-inside" >
                    <ul class="nav navbar-inside" id="side-menu">
                        <br>
                       <center><p><img src="{{ usuario.thumb.url}}" class= "img-circle"/> </p></center>
                        <li class="itens-menu">
                            <a href="#" class="itens-menu" id="link-color" ><i class="fa fa-users"></i> Turmas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-l navbar-insideevel navbar-inside" id="side-menu">
                                <li class="itens-menu"> 
                                    <a href="{% url 'tutor_area:todasTurmas'%}" id="link-color">Suas Turmas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

{% endblock barraLateral %}
{% block logout %}
 <li><a href="{% url 'usuarios:logout' %}" ><i class="fa fa-sign-out fa-fw"></i> Sair</a>
{% endblock logout %}

