{% extends "tutor_area/index.html" %}
{% block principal %}
    <a class="navbar-brand" href="{% url 'tutor_area:index' %}">EASYTUTORING</a>
{% endblock principal %}

{% load widget_tweaks %}

{% block pageHeader %}
    <h2 class="page-header">Suas Turmas</h2>
{% endblock pageHeader %}
{% block form %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" style="display:none;" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo da Turma</th>
                        <th>Disciplina</th>
                        <th>Professor</th>

                        <th>Entrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turma in turmas %}
                        <tr>
                            <td>{{turma.codigo}}</td>
                            <td>{{turma.disciplina}}</td>
                            <td>{{ turma.professor }}</td>
                            <td><a  href="{% url 'tutor_area:turmaArea' turma.id %}"> <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-new-window  
"></i>
        </button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
                        <!-- /.panel-body -->
{% endblock form %}

{% block javascript %}
       <script>
        $(".info").each(function () {
            var message = $('.info').text();
        $.notify({
            message: message,
        },{
            type: 'pastel-success',
            delay: 3000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<span data-notify="title">{1}</span>' +
                '<span data-notify="message">{2}</span>' +
            '</div>'
        });


      });

    </script>
{% endblock javascript %}