{% extends "templateEasyTutoring.html" %}

{% block title %}
        <title>Area do Tutor</title>
{% endblock title %}

{% block principal %}
    <a class="navbar-brand" href="{% url 'tutor_area:index' %}" id="link-color">EASYTUTORING</a>
{% endblock principal %}
{% block barraLateral %}
                <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <br>
                       <center><p><img src="{{ usuario.thumb.url}}" class= "img-circle"/> </p></center>
                        <li class="itens-menu">
                            <a href="#" id="link-color"><i class="fa fa-user"></i>  Alunos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               <li>
                                    <a href="{% url 'tutor_area:listAlunos' turma.id %}" id="link-color"> Ver</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li class="itens-menu">
                            <a href="#" id="link-color"><i class="fa fa-list-alt" id="link-color"></i> Frequência<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                               <li>
                                    <a href="{% url 'faltas:new' turma.id%}"  id="link-color">Cadastrar Frequência</a>
                                </li>

                                <li>
                                    <a href="{% url 'faltas:dadosFrequencia' turma.id%}" id="link-color">Visualizar Frequências</a>
                                </li>
                                <li>
                                    <a href="#" id="link-color">Visualizar Dados Adicionais</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="itens-menu">
                            <a href="#" id="link-color"><i class="fa fa-commenting-o"></i> Forum<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'forum:show' turma.id%}"  id="link-color">Entrar</a>
                                </li>
                                <li>
                                    <a href="#" id="link-color"> Criar Postagem</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" style="display:none;" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock barraLateral %}
{% block logout %}
 <li><a href="{% url 'usuarios:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
{% endblock logout %}
{% block javascript %}
       <script>
        $(".info").each(function () {
            var message = $('.info').text();
        $.notify({
            message: message,
        },{
            type: 'pastel-success',
            delay: 3000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<span data-notify="title">{1}</span>' +
                '<span data-notify="message">{2}</span>' +
            '</div>'
        });


      });

    </script>
{% endblock javascript %}