{% extends "templateEasyTutoring.html" %}

{% block title %}
        <title>Area do Aluno</title>
{% endblock title %}
{% block principal %}
    <a class="navbar-brand" href="{% url 'aluno_area:index' %}" id="link-color">EASYTUTORING</a>
{% endblock principal %}

{% block barraLateral %}
               <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <br>
                       <center><p><img src="{{ usuario.thumb.url}}" class= "img-circle"/> </p></center>
                        <li>
                            <a href="#" id="link-color"><i class="fa fa-wrench fa-fw"></i> Turmas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="link-color">Buscar Turma</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#" id="link-color"><i class="fa fa-sitemap fa-fw"></i> Frequência<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="link-color" >Visualizar Frequências</a>
                                </li>
                                <li>
                                    <a href="#" id="link-color">Visualizar Dados Adicionais</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#" id="link-color"><i class="fa fa-files-o fa-fw"></i>Forum<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" id="link-color">Ver Notícias</a>
                                </li>
                                <li>
                                    <a href="#" id="link-color">Criar Postagem</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

{% endblock barraLateral %}

{% block logout %}
 <li><a href="{% url 'usuarios:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
{% endblock logout %}
