{% extends "tutor_area/turmaArea.html" %}
{% block pageHeader %}
    <h2 class="page-header">Faltas por Aluno </h2>
{% endblock pageHeader %}
{% block form %}
<div class="form-group col-sm-6">

<canvas id="myChart" width="600" height="350"></canvas>
</div>
{% endblock form %}

{% block javascript %}

<script>
var ctx = document.getElementById("myChart");
var nome_alunos = JSON.parse('{{ nome_alunos|safe }}');
var faltas = JSON.parse('{{ faltas|safe }}');

var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: nome_alunos,
        datasets: [{
            label: 'quantidade de faltas',
            data: faltas,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
});
</script>
{% endblock javascript %}