{% extends "aluno_area/turmaArea.html" %}

{% block pageHeader %}
    <h2 class="page-header">Suas Faltas</h2>
{% endblock pageHeader %}

{% block form %}

      <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead>
                    <tr>
                      <th>Data</th>
                      <th>Situação</th>
                    </tr>
                </thead>
                    {% for falta in faltas  %}
                      
                          <tr>
              <td>{{falta.date}}</td>
            {% if falta.presenca == True %}
              <td>Presente</td>
            {% else %}
              <td>Falta</td>
            {% endif %}
                          </tr>
                    {% endfor %}
                      </tbody>
                  </table>
                  <hr>
                <center><h5><b>Total De Faltas: </b>{{count_falta}}</h5></center>
                <br>
              </div>
        </div>
        <!-- /.table-responsive -->
    </div>

{% endblock form %}
