{% extends "tutor_area/index.html" %}
{% load widget_tweaks %}
{% block pageHeader %}
    <h2 class="page-header">Lançar Frequência</h2>
{% endblock pageHeader %}

{% block form %}
    <div class="panel-body">
        <div class="table-responsive table-bordered">
            <table class="table">

                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Presença</th>
                    </tr>
                </thead>
                <tbody>
                	{% for aluno in alunos %}
                        <tr>
                            <td>{{aluno.nome_completo}}</td>
                             <td><select class="selectpicker">
                                  <option>Falta</option>
                                  <option>Presente</option>
                                </select>   </td>

                        </tr>
					{% endfor %}
                </tbody>

            </table>
                <center><button class="btn btn-default btn-lg btn-login" id="submeter">Cadastrar</button></center><br>

        </div>
        <!-- /.table-responsive -->
    </div>

{% endblock form %}

{% block javascript %}

{% endblock javascript %}
