{% extends "tutor_area/turmaArea.html" %}

{% block ref %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        
{% endblock ref %}

{% load widget_tweaks %}
{% block pageHeader %}
    <h2 class="page-header">Lançar Frequência</h2>
{% endblock pageHeader %}

{% block form %}
    <div class="panel-body" >
        <div class="table-responsive table-bordered">
            <table class="table">

                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Presença</th>
                        <th> Data: <input  type ="text" id="calendario"/></th>
                    </tr>
                </thead>
                <tbody>
                	{% for aluno in alunos %}
                        <tr>
                            <td>{{aluno.nome_completo}}</td>
                             <td><select id="selecao" class="form-control" style="width: 110px;">
                                  <option value="{{aluno.id}}">Falta</option>
                                  <option value="{{aluno.id}}">Presente</option>
                                </select>   </td>
                            

                        </tr>
					{% endfor %}
                </tbody>

            </table>
                <center><button class="btn btn-default btn-lg btn-login" id="submeter">Cadastrar</button></center><br>

        </div>
        <!-- /.table-responsive -->
    </div>
{% endblock form %}

{% block javascript %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

<script>
$(document).ready(function(){
    var frequencia = [];
    var alunos = [];

    $('#submeter').click(function() {
          var dat = $("#calendario").val();

            $("tr td #selecao option:selected").each(function() {
                frequencia.push($(this).text());
                var valor = this.value;
                alunos.push(valor);

            }); 
            $.ajax({
            url: 'cadastrarFrequencia',
             method: 'POST',
             data: {'dat': dat,frequencia: frequencia, alunos: alunos, csrfmiddlewaretoken: '{{ csrf_token }}'},
             success : function(html) {
                    window.history.pushState("", "", "/");
                    window.location.href = "tutor_area/turmaArea/{{turma.id}}/"
                }

          });

    });

 });
</script>

<script>
    $(function() {
    $('#calendario').datepicker({dateFormat: 'dd-mm-yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']



    });
});


</script>>
{% endblock javascript %}
